@import url(http://fonts.googleapis.com/css?family=Chewy);

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
	
	background-color: #F2F2F2;
}

.chewyfont {
	font-family: 'Chewy', cursive;
}

.container{
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 10px 10px 40px 10px #A69090;
	box-shadow: 10px 10px 40px 10px #A69090;
}

.progress{
	width: 50%;
}

#select-genre{
	width: 200px;

}
.btn-ingame{
    width: 80px;
}
.top-spacer{
	margin-top: 40px;
}

#btn-start{
	border-radius: 150px;	
	height: 150px;
	width: 150px;	
}

.center {
	margin-left:auto; 
	margin-right:auto;
}


.cardcontainer{
	cursor: pointer;
	width: 130px;
	height: 130px;
	position: relative;
}
.cardcontainer img {
	position: absolute;
	width: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}


.transition{
	
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;    
    transition: opacity 0.25s ease-in-out;
  
}

.hidecard{
	/* display: none; */
	opacity:0;

}

.showcard{
    /* display:block; */
	opacity: 1;

}

#current-title{
	height: 30px;
}

#game-loader, #game-screen{
	display: none;
}

/* Mobile  */

@media screen and (max-width: 700px) {
	.top-spacer{
		padding-top: 0px;
	}
	.container{
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #FFFFFF;

	}
	.cardcontainer{
		width: 80px;
		height: 80px;
		position: relative;
	}
}
