 
<div id="game-screen">
 <h2>{{genreName|uppercase}}</h2>
 <h2>Seconds left: {{counter}}</h2>

  <div>Pairs left to match: {{cardsLeft}}</div>
  <div>{{currentTitle}}</div>

<button type="submit" class="btn btn-primary"  ng-click="startGame()">Retry</button>

  <table class="center">
    <tr ng-repeat="row in grid track by $index">
      <td ng-repeat="card in row track by $index" ng-click="clickCard(card)">
         <div class="cardcontainer">
          <div class="card" >
               <img ng-class="{hidecard: card.flipped}" ng-src="http://thumbs.dreamstime.com/x/vinyl-record-blue-label-4246970.jpg"> 

              <img ng-class="{hidecard: !card.flipped}" alt="{{card.title}} {{card.artist}}"  ng-src="{{card.img}}"> 
          </div>
          </div>

      </td>
    </tr>
  </table>
</div>
<div id="game-loader">
Loading...
</div>

 
 <button type="submit" class="btn btn-primary"  ng-click="goBack()">Go Back</button>
